@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  place-items: center;
  background-color: #041424;
  min-height: 100vh;
  color: #fdf1f1;
  font-family: "Google Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background-image: linear-gradient(160deg, rgba(70, 107, 210, 1) 0%, rgba(28, 37, 66, 1) 100%);
  background-color: #3c27a2;
  padding: 6rem;
  min-height: 53.9rem;
}

/* Search bar */
.search-bar {
  display: flex;
  gap: 1rem;
  padding: 3rem 3rem 1rem 3rem;
}

.search-input {
  outline: none;
  border: none;
  border-radius: 2rem;
  padding: 0 3rem;
}

.search-btn {
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

.search-img {
  padding: 1.5rem;
  width: 5rem;
  height: 5rem;
}

/* Weather info */
.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-img {
  width: 20rem;
}

.no-weather-img {
  height: 20rem;
}

.temperature {
  font-size: 6.8rem;
}

.temperature span {
  font-size: 4.8rem;
}

.weather-localization {
  margin-bottom: 6rem;
  font-size: 4.4rem;
}

/* Weather conditions */
.weather-conditions {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  width: 100%;
}

.weather {
  display: flex;
  gap: 1rem;
  font-size: 1.8rem;
}

.weather-condition-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.weather-condition-name {
  font-size: 1.4rem;
}

.humidity-img,
.wind-img {
  margin-top: 0.5rem;
  width: 3rem;
  height: 3rem;
}
